body {
    font-family: 'montserrat' , sans-serif;
    margin: 0;
}

#product-overview {
    background: #ff1b68;
    width: 700px;
    height: 100%;
}

.section-title{
    color: #2ddf5c;
    font-family: inherit;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
}
 
/*h1 {
    font-family: sans-serif;
}*/
